{% extends "layout.html" %}
{% from 'macros.html' import post_field %}

{% block content %}
    {% for post in posts.items %}
    {% if not post.parent %}
         <article class="media content-section" data-post-id={{post.id}}>
          <img class="rounded-circle article-img" src="{{ url_for('static',filename='profile_pics/'+ post.author.image_file) }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{{url_for('users.user_posts',username=post.author.username)}}">{{ post.author.username }}</a>
              <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
            </div>
            <h2><a class="article-title" href="{{url_for('posts.post',post_id=post.id)}}">{{ post.title }}</a></h2>
            <p class="article-content article-metadata">{{ post.content }}</p>
              <div class='container '>
                 
                    <span class="fa fa-heart"></span>
                    <span class="approve-count-heart label label-default">
                      {{ post.likes | length }}
                    </span>
                
                    <span class="fa fa-comment"></span>
                    <span class="approve-count-comment label label-default"> 
                      {{ post.replies.count() }}
                    </span>

            </div>

          </div>

        </article>
    {% endif %}
    {% endfor %}



    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
    {% if page_num%}
        {% if posts.page == page_num %}
            <a class="btn btn-info mb-4" href="{{url_for('main.home', page=page_num)}}">{{page_num}}</a>
        {% else %}
            <a class="btn btn-outline-info mb-4" href="{{url_for('main.home', page=page_num)}}">{{page_num}}</a>
        {% endif %}
    {% else%}
        ...
    {% endif %}
    {% endfor %}

    <div id="comment_modal" class="modal fade">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="CommentModalLabel">Comment</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form class="tagForm" id="tag-form"  enctype="multipart/form-data">
            <div class="modal-body">
                <input id="comment_text" name="comment_text" class="form-control" type="text"/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <input id="comment-form-submit" type="submit" class="btn btn-primary" value="Comment">
            </div>
        </form>
        </div>
      </div>
    </div>
{% endblock content %}
